<section class="honey-honey">
    <img class="honey-texture" src="../../assets/images/honey-texture.png">

    <img class="honey-leaves" src="../../assets/images/honey-leaves.png">


    <div class="honey-img-container">
        <p class="lat-text rotate">38.8951 / -77.0364</p>
        
        <img class="honey-img" src="../../assets/images/beach.png">

        <!--
        <object class="honey-vid" data="https://player.vimeo.com/video/734840039?h=6387935871&autoplay=1&background=1&loop=1" allow="autoplay">
        </object>
                     -->
       

    </div>

    <img class="honey-logo" src="../../assets/images/logo.png">
    <div class="honey-text" #honeyText>
        <div *ngIf='showText' @honeyTextAnim>
            <p class="honey-text-text honey-text-anim">TELLING YOUR STORY WITH BEAUTIFUL IMAGERY.</p>
            <p class="honey-text-text honey-text-anim">EMOTIONAL, AUTHENTIC, & NOSTALGIC CAPTURE.</p>
            <hr class="honey-hr honey-text-anim"><br>
            <p class="honey-text-text honey-text-anim" style="padding-top: 20px;">DOCUMENTARIO FILMMAKING IN STILE MATRIMONIO.</p>
            <p class="honey-text-text honey-text-anim">CATTURA ONESTA E NOSTALGICA.</p>
        </div>
    </div>
    <div class="honey-honey-text-container">
        <p class="honey-honey-text">HONEY HONEY</p>
        <p class="honey-honey-text-underlay">NEI SOGNI</p>
    </div>
    
</section>