<section class="honey-honey">
    <img class="honey-texture" src="../../assets/images/honey-texture.png">
    <img class="honey-leaves" src="../../assets/images/honey-leaves.png">

    <div class="honey-img-container">
        <p class="lat-text rotate">38.8951 / -77.0364</p>
        

        <img class="honey-img" src="../../assets/images/beach.png">

        <!--
        <object class="honey-vid" data="https://player.vimeo.com/video/734840039?h=6387935871&autoplay=1&background=1&loop=1" allow="autoplay">
        </object>
        -->

    </div>

    <img class="honey-logo" src="../../assets/images/logo.png">
    <div class="honey-text">
        <p class="honey-text-text">DOCUMENTARY WEDDING STYLE FILMMAKING.</p>
        <p class="honey-text-text">HONEST NOSTALGIC CAPTURE.</p>
        <hr class="honey-hr"><br>
        <p class="honey-text-text" style="padding-top: 20px;">DOCUMENTARIO FILMMAKING IN STILE MATRIMONIO.</p>
        <p class="honey-text-text">CATTURA ONESTA E NOSTALGICA.</p>
    </div>
    <div class="honey-honey-text-container">
        <p class="honey-honey-text">HONEY HONEY</p>
        <p class="honey-honey-text-underlay">NEI SOGNI</p>
    </div>
    
</section>