<div class="vid-player" [ngClass]="{'highlight-hover': !play}" style="position:relative">
    <div *ngIf="!play" style="position:relative; z-index: 99999;" (click)="onPlayClick()" [@vid-fade-anim]>
        <img  [src]="image" height="100%" width="100%">
        <img [src]="playButton" style="position: absolute; top:0; left:0; right:0; bottom:0; margin:auto;">
        <p style="position: absolute; bottom: 0; margin-bottom: 30px; padding-left: 20px; color: white; font-size: 40px;">ROSA & IVANO</p>
    </div>
    <iframe *ngIf="play" [src]="urlLink" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    <script src="https://player.vimeo.com/api/player.js"></script>
</div>