.featured-carousel-sec {
    height: 1000px;
    background-color: rgba(250, 249, 245, 0);
    grid-template-rows: 5% 1fr 5fr 5%;
    overflow: visible;
}

.featured-logo {

    display: block;
    margin: auto;
    width: 55px;
    height: 65px;

}

.featured-opera-txt {
    font-size: 48px; 
    margin: 0 auto;
    text-align: center;
    letter-spacing: 10px;

}

.featured-bg {
    position: absolute;
    height: 150vh;
    width: 100%;
    opacity: 0.0;
    z-index: 0;
}

.featured-cursive {
    opacity: 0.2;
    transform: translateX(-50px) translateY(-50px);
}

.featured-splash {
    font-size:62px; 
    font-family: 'Alegreya', serif;
    letter-spacing: 3px;
    color: rgb(134, 110, 94);

    height: fit-content;
    height: 400px;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 6;
    z-index: 99;

    margin-left: 15%;
    margin-right: 15%;

    padding-top: 100px;

}

.featured-hr {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(134, 110, 94);
}

.featured-underlay {
    font-size: 20px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: normal;
    margin: 0 auto;
    text-align: left;
    text-justify: left;
    padding-top: 25px;
}

.carousel-button-container {
    margin: 0 auto;
    width: 120px;
    height: 70px;
}

.carousel-button {

    margin: 0;
    padding: 0;

    height: 70px;
    width: 58px !important;
    max-width: 58px !important;
    background: none;
    border: none;
    color: rgb(134, 110, 94);
    font-size: 60px;

}

.carousel-button-container button:hover {
    transform: scale(1.05);
}

.carousel-button-container button:active {
    opacity: 0.9;
}

.vid-carousel-container {
    grid-row-start: 3; 
    grid-column-start: 1; 
    grid-column-end: 7; 
    width: 120vw;
    min-width: 1800px; 
    margin-top: 50px; 
    transform: translateX(-125px);
    z-index: 99; 
}

.active-slide {
    height: 468px !important;
    margin-top: 0px;
    opacity: 1.0
}

.not-active-slide {
  opacity: 0.75;
  height: 350px;
  margin-top: 50px;
}

.slide-trans {
    transition: height 0.75s, margin-top 0.75s, opacity 0.75s;
}

@media screen and (max-width: 1750px) {

    .not-active-slide {
        height: 350px;
      }
    
}

@media screen and (max-width: 1305px) {

    .vid-carousel-container {
        width: 120vw !important;
        min-width: 1000px !important;
        margin-left: 5vw;
    }

    .not-active-slide {
        height: 250px;
    }

    .featured-carousel-sec {
        height: 895px;
    }

    .featured-underlay {
        font-size: 1.5vw;
    }
    
}

@media screen and (max-width: 1080px) {

    .featured-splash {
        font-size: 48px;
    }

    .featured-opera-txt {
        font-size: 38px;
    }
    
}

@media screen and (max-width: 1000px) {

    .vid-carousel-container {
        margin-left: 0 !important;
    }
    
    .not-active-slide {
        height: 200px;
    }

    .featured-carousel-sec {
        grid-template-columns: minmax(50px, 1fr) 50px minmax(125px, 310px) minmax(375px, 310px) 50px minmax(50px, 1fr);
        grid-template-rows: 5% 2fr 1.3fr 5%;
        height: 1200px;
    }

    .featured-splash {
        grid-column-start: 2;
        grid-column-end: 6;
        margin-left: 0%;
        margin-right: 0%;
    }

    .featured-carousel-sec {
        height: 825px;
    }

    .vid-carousel-container {
        margin-top: 35px;
    }

    .carousel-button-container {
         margin-top: 25px;

    }

    .featured-underlay {
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {

    .featured-carousel-sec {
        grid-template-columns: minmax(10%, 1fr) 30px minmax(114px, 220px) minmax(114px, 220px) 30px minmax(10%, 1fr);
        grid-template-rows: 5% 315px 265px 5%;
        height: 650px;
    }

    .featured-splash {
        font-size: 30px;
    }

    .featured-opera-txt {
        font-size: 20px;
        padding-left: 0;
    }

    .featured-logo {
        visibility: hidden;
        position: absolute;
    }

    .featured-underlay {
        font-size: 12px;
        width: 100%;
        float: left;
    }

    .vid-carousel-container {
        transform: translateX(-90px);
        height: 200px;
        width: 120vw !important;
        min-width: 600px !important;
    }

    .carousel-button-container button { 
        font-size: 40px;
    }

    .featured-splash {
        padding-top: 20px;
    }
    
}

@media screen and (max-width: 520px) {

    .vid-carousel-container {
        transform: translateX(0px);
        width: 100vw !important;
        min-width: none;
        margin-left: 10% !important;
    }
}