<div style="background-image: url('../assets/images/home-top.jpg'); height:1000px; background-repeat: no-repeat;  background-size: cover; padding: 20px;">
    <style>

    </style>
<H1>A L T E L U C I</H1>
</div>
<div style="background-color:burlywood; height:1000px; background-repeat: no-repeat;  background-size: cover; padding: 20px;">
    <style>

    </style>
<H1>FEATURED WORKS / OPERA D'ARTE</H1>
</div>
<div style="background-color:rgb(85, 59, 42); height:1000px; background-repeat: no-repeat;  background-size: cover; padding: 20px;">
    <style>

    </style>
<H1 style="text-align: right;">FILM IN STILE DOCUMENTARIO.</H1>
<H1 style="text-align: right;">CATTURA ONESTA E NOSTALGICA.</H1>
</div>
<div style="background-color:burlywood; height:1000px; background-repeat: no-repeat;  background-size: cover; padding: 20px;">
    <style>

    </style>
<H1>CONTACT</H1>
</div>