<section class="process-sec">

    <img class="process-texture" src="../../assets/images/process-texture.png">
    <img class="process-flowers" src="../../assets/images/process-flowers.png">
    <img class="process-cursive" src="../../assets/images/process-cursive.png">

    <div class="process-text-block" #processText>
        <div *ngIf="showText" @processTextAnim>
            <p class="process-text-label process-text-anim"><u>THE PROCESS</u></p>
            <p class="process-text-label process-text-anim"><u>ABOUT</u></p>
            <p class="process-text-label process-text-anim"><u>DETAILS</u></p>
            <p class="process-text process-text-anim">The documentary approach in filmmaking is to capture life as it honestly is. What makes your life unique among
                                    all the others lies in the details.
            </p>
            <p class="process-text process-text-anim">The process on your wedding day is to preserve those intricate details. The inbetween moments, the atmosphere,
                                    the way you look at one another on your wedding day and realize it's actually happening. These provide the authentic
                                    capture of your love.
            </p>
            <p class="process-text process-text-anim">The story of your love, as it stands, right now- that you will be able to relive throughout the changing of time.</p>
            <br>
        </div>


    </div>

</section>
