.process-sec {
    background-color: rgb(126, 114, 91);
    height: 100vh;
    min-height: 900px;
    max-height: 1200px;

    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    grid-template-rows: 50px 1fr 50px;
    transform: translateZ(-2px) !important
}

.process-texture {
    height: 100%;
    width: max(1400px, 100vw);
    z-index: 999;
    position: absolute;
    mix-blend-mode: normal;
}

.process-flowers {
    position: absolute;
    bottom: 0;
    z-index: 9999;
}

.process-cursive {
    position: absolute;
    mix-blend-mode: multiply;
    padding-top: 275px;
    padding-left: 240px;
    z-index: 9999;
}

.process-text-block {
    grid-column-start: 4;
    grid-row-start: 2;
    left:0;
    align-self: center;
    color: white;
    z-index: 9999;

}

.process-text-label {
    text-align: right;
    font-size: 32px;
    font-family: 'Libre Caslon Text', serif;
    opacity: 0.9;
}

.process-text {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.7;
}

@media screen and (max-width: 1200px) {
    .process-flowers {
        opacity: 0.5;

    }
    .process-cursive {
        transform: translateY(500px);
    }
}

@media screen and (max-width: 1000px) {

    .process-text-block {
        grid-column-start: 3;
        grid-column-end: 5;
        place-self: center;
    }

    .process-text-label {
        text-align: center;
    }

    .process-flowers {
        transform: translateX(-200px);
    }
    .process-cursive {
        transform: translateX(50px) translateY(-50px);
        padding:0;
        bottom:0;
    }
    
}

@media screen and (max-width: 650px) {

    .process-text-block {
        grid-column-start: 2;
        grid-column-end: 4;
        align-self: auto;

    }

    .process-text-label {
        font-size: 20px;
        padding-left: 0;
        text-align: center;
    }
    .process-text {
        font-size: 12px;
    }
    .process-sec {
        grid-template-rows: 8% 1fr 15%;
        grid-template-columns: 25px 1fr 1fr 25px;
        height: 600px;
        min-height: 600px;
    }
    .process-flowers {
        transform: translateX(-350px) translateY(200px);
        opacity: 0.5;

    }
    
}

