<section class="process-sec">

    <img class="process-texture" src="../../assets/images/process-texture.png">
    <img class="process-flowers" src="../../assets/images/process-flowers.png">
    <img class="process-cursive" src="../../assets/images/process-cursive.png">

    <div class="process-text-block">
        <p class="process-text-label">PROCESS / PROCESSI</p>
        <p class="process-text">Did you ever hear the tragedy of Darth Plageuis the Wise?</p>
        <p class="process-text">I thought not.</p>
        <p class="process-text">It is not a story the Jedi would tell you.</p>
        <br>
        <p class="process-text">He was so powerful...</p>
        <p class="process-text">the only thing he was afraid of was losing his power,</p>
        <p class="process-text">which eventually, of course, he did.</p>
        <br>
        <p class="process-text">Unfortunately, he taught his apprentice everything he knew,</p>
        <p class="process-text">then his apprentice killed him in his sleep.</p>
        <br>
        <p class="process-text">Ironic.</p>
        <p class="process-text">He could save others from death, but not himself.</p>

    </div>

</section>
