<section class="top-banner">
    <div class="bg-vid-container">
        
   <!--    testing 
        <object class="bg-vid" data="https://player.vimeo.com/video/821962936?h=8f89419cc4&autoplay=1&background=1&loop=1" allow="autoplay"></object>

   -->
        <object class="bg-vid" data="https://player.vimeo.com/video/734840039?h=6387935871&autoplay=1&background=1&loop=1" allow="autoplay"></object>

    </div>
        <!--
    <div class="logo"><img src="../../assets/images/logo-white-butt.png" height="53px" width="40px"></div>
    <div class="menu"><button class="menu-butt" (click)="onMenuButton()">MENU</button></div>
        -->
    <div *ngIf="animations" class="top-banner-splash" [@heroAnimation2]>

        <p class="top-banner-splash-text hero-text-anim">
            <!--
            <img class="logo-img" src="../../assets/images/logo-white-butt.png" style="display: inline; height:90px; width: 70px; padding-right: 30px;">
            
            <img class="logo-img" src="../../assets/images/logo.png" style="padding-right: 30px;">
            -->
            ALTELUCI
            </p>

        <div class="top-banner-splash-text-underlay">
            <div *ngFor="let letter of underlay" class="hero-text-anim inline-letters">
                <div *ngIf="letter===' '" style="min-width: 0.7vw;"></div>
                {{letter}}
            </div>
        </div>
    </div>
</section>
