.bg-vid-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    position: absolute;
    z-index: -1;
}

.bg-vid {
    height: 1200px;
    width: 2200px;
    transform: translateX(-200px);
    margin: 0;
    padding: 0;
}

.top-banner {
    background-image: url('../../assets/images/beach.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: max(100vh, 200px);
    min-height: 500px;
    grid-template-rows: 25px 100px 1fr 25%;
    

    position: relative;
    transform-style: flat;
    transform: translateZ(0);
    overflow: hidden;

}

.top-banner-splash {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;  
    transform: translateY(-100px);
    font-family: 'Libre Caslon Text', serif;
    color:white;
    text-align: left;
    
}

.top-banner-splash-text {
    font-size: min(97px, 6vw);
    letter-spacing: 5px; 
    padding: 0px;
    margin-bottom: 0px;
    
}

.top-banner-splash-text-underlay {
    padding: 0px;
    padding-left: 15vw;
    margin-top: 0px;
    font-size: min(24px, 2vw);
}

@media screen and (max-width: 1000px) { 
    .top-banner-splash-text {
        font-size: 75px;
    }
    .top-banner {
        height: 100vh;
    }
    .top-banner-splash {
        grid-column-end: 5;
    }
    .top-banner-splash-text-underlay {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    .top-banner-splash-text {
        font-size: 35px;
    }
    .top-banner {
        height: 100vh;
        min-height: 100%;
        grid-template-rows: 25px 50px 8fr 1fr;
    }
    .top-banner-splash {
        grid-column-end: 5;
    }
    .top-banner-splash-text-underlay {
        font-size: 12px !important;
    }
    .logo-img {
        max-height: 35px;
        max-width: 30px;
    }
    .menu {
        margin-top: 0;
    }
    .menu-butt {
        font-size: 12px !important;
    }

}

/* menu not implemented now but possibly at a later date */
.menu {
    grid-column-start: 5;
    grid-row-start: 2;
    color: rgb(173, 149, 133);
    color: white;
    font-size: 20px;
    text-align: right;
    z-index: 999 !important;
    place-self: center;
    padding-bottom: 50px;
}

.menu-butt {
    background: none; 
    border: none; 
    color: rgb(173, 149, 133); 
    color: white;
    font-size: 18px;
}

.inline-letters {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.logo {
    grid-column-start: 2;
    grid-row-start: 2;
    place-self: center;
    z-index: 6;
}
.logo-img {
    /*
    height: 53px;
    width: 45px;
    */
    height: 83px;
    width: 70px;
}

.logo-banner {
    position: absolute;
    width: 100vw;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.25);

    align-self: top;
    z-index: 5;
}
