html,
body { 
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/*
.lock-scroll { 
    overflow: hidden; 
    height: 100vh;
    width: 100%;
}*/

.lock-scroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}


.background-leaf {
   
    background-image: url('leaves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: fixed;

    z-index: -999;
    height: 1000px;
    width: 100vh;

}
