<!--TOP BANNER-->
<div style=" background-image: url('../assets/images/home-top.jpg'); height:1000px; background-repeat: no-repeat;  background-size: cover; padding: 20px; background-position: center;">
    <div style=" height:10%">
        <div style="float: left; width:60%; ">
            <H1 style="margin-left: 10%;">A L T E L U C I</H1>
        </div>
        <div style="float: left; width:38%; ">
            <p style="text-align: right;">MENU</p>
        </div>
    </div>
    <div style="height:90%; ">
        <p style="font-size:80px; margin-left: 10%; padding:0px; margin-top: 200px; margin-bottom: 0px; color:white"><b>DEEANDRA<br>& SAMUEL</b></p>
        <p style="padding:0px; margin-left: 10%; padding-top: 0px; margin-top: 0px; color:white">L   O   S     A   N   G   E   L   E   S   ,   U   S   A</p>
    </div>
</div>

<!--FEATURED WORKS-->
<div style="background-color:burlywood; height:1000px; background-repeat: no-repeat;  background-size: cover; padding: 20px;">
<H1>FEATURED WORKS / OPERA D'ARTE</H1>
</div>
<div style="background-color:rgb(85, 59, 42); height:1000px; background-repeat: no-repeat;  background-size: cover; padding: 20px;">
    <style>

    </style>
<H1 style="text-align: right;">FILM IN STILE DOCUMENTARIO.</H1>
<H1 style="text-align: right;">CATTURA ONESTA E NOSTALGICA.</H1>
</div>
<div style="background-color:burlywood; height:1000px; background-repeat: no-repeat;  background-size: cover; padding: 20px;">
    <style>

    </style>
<H1>CONTACT</H1>
</div>
