.background-leaf {
   
    background-image: url('leaves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: fixed;

    z-index: -999;
    height: 1000px;
    width: 100%

}


.top-banner {
    background-image: url('../../assets/images/beach.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;

    display: grid;
    grid-template-columns: 1fr minmax(240px, 4fr) 3fr minmax(100px, 1fr) 1fr;
    grid-template-rows: 1fr 8fr 1fr;

    z-index: 2;

}

.top-banner-splash {
    grid-column-start: 2;
    grid-row-start: 2;  
    align-self: center;
}

.top-banner-splash-text {
    font-size:80px; 
    color:white;
    padding: 0px;
    margin-bottom: 0px;

}
@media screen and (max-width: 800px) { 
    .top-banner-splash-text {
        font-size: 60px;
    }
}

.top-banner-splash-text-underlay {
    color:white;
    padding: 0px;
    margin-top: 0px;
}

.logo {
    grid-column-start: 2;
}

.menu {
    grid-column-start: 4;
    place-self: center;
}

.menu-overlay {
    z-index: 1;
    position: fixed;
    background-color: azure;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

.menu-item {
    color:black;
}

.menu-item:hover {
    color: grey;
}

/* VIDEO SECTION */
.featured-banner {
    /*background-color:burlywood;*/
    background-color: rgba(222, 184, 135, 0.8);
    background-repeat: no-repeat;  
    background-size: cover; 
    padding: 20px;

    display: grid;
    /*grid-template-columns: 1fr 4fr 4fr 1fr;*/
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(autofit, minmax(240px, 1fr));

}

.featured-banner-splash {

}

.featured-banner-splash-text {
    font-size:60px; 
    color:rgb(71, 55, 55);
    padding: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 1200px) {
    .featured-banner-splash-text {
        font-size: 40px;
    }
    .featured-banner {
        grid-template-columns: 1fr;
    }
    #vid1 {
        width: 300px;
        height: 200px;
    }
    #vid2 {
        width: 300px;
        height: 200px;
    }
    #vid3 {
        width: 300px;
        height: 200px;
    }
    
}

.featured-banner-videos {

}

/* CONTACT USSS */
.contact-segment {
    background-color:rgb(223, 202, 176); 
    height:1000px; 
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 100px 1fr 200px;
}

.contact-label {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: top;
}

.contact-form {
    grid-column-start: 3;
    grid-row-start: 2;
    align-self: top;
}


.form-field {
    width: 500px;
    background-color: rgba(0,0,0,0);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(46, 26, 26);
    padding: 10px;
    margin: 10px;
}

.form-field:focus {
    outline: none;
}

.form-field-textarea {
    width: 500px;
    background-color: rgba(0,0,0,0);
    height: 250px;
    border-color: rgb(46, 26, 26);
    padding: 10px;
    margin: 10px;
    resize: none;
}

.form-field-textarea:focus {
    outline: none;
}

.who-are-you {
    padding: 15px;
    margin-top: 20px;
}

.submit-button {
    margin: 10px;
    width: 120px;
    height: 40px;
    background: none;
    border-radius: 20px;
    border-color: black;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    
}

.submit-button:active {

}

/* CSS */
.button-6 {

    width: 120px;
    height: 40px; 

    background-color: rgba(0,0,0,0);
    border: 2px solid black;
    border-radius: 25px;;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;


    cursor: pointer;



    margin: 10px;


    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;


  }

  .button-6:hover {
    background-color: rgba(216, 186, 150, 1);
  }
  
  .button-6:active {
    background-color: rgb(212, 163, 102);

  }

  .footer {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
  }
