
.white-box {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    width: 90%;
    height: 90%;
    place-self: center;
    border: 1px solid white;
    opacity: 0.5;
}

.logo {
    grid-column-start: 2;
    grid-row-start: 2;
    place-self: center;
    z-index: 6;
}
.logo-img {
    height: 53px;
    width: 45px;
}

.logo-banner {
    position: absolute;
    width: 100vw;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.25);

    align-self: top;
    z-index: 5;
}

.top-banner {
    background-image: url('../../assets/images/beach.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: max(100vh, 600px);
    min-height: 500px;
    grid-template-rows: 25px 100px 8fr 1fr;
    

    position: relative;
    transform-style: flat;
    transform: translateZ(0);

}

.top-banner-splash {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;  
    align-self: center;
    transform: translateY(-25px);
    
}

.top-banner-splash-text {
    text-align: left;
    font-size:97px;
    font-size: 6vw;
    letter-spacing: 5px; 
    color:white;
    padding: 0px;
    margin-bottom: 0px;
    font-family: 'Libre Caslon Text', serif;

}
@media screen and (max-width: 1000px) { 
    .top-banner-splash-text {
        font-size: 75px;
    }
    .top-banner {
        height: 100vh;
    }
    .top-banner-splash {
        grid-column-end: 5;
    }
    .top-banner-splash-text-underlay {
        font-size: 15px;
        letter-spacing: 15px !important;
        padding-left: 5px !important;
    }
}

@media screen and (max-width: 700px) {
    .top-banner-splash-text {
        font-size: 35px;
    }
    .top-banner {
        height: 100vh;
        min-height: 100%;
    }
    .top-banner-splash {
        grid-column-end: 5;
    }
    .top-banner-splash-text-underlay {
        font-size: 10px !important;
        letter-spacing: 8px !important;
        padding-left: 2px !important;
    }
    .logo-img {
        max-height: 35px;
        max-width: 30px;
    }
    .menu {
        margin-top: 0;
    }
    .menu-butt {
        font-size: 12px !important;
    }
    .inline-letters {
        min-width: 15px !important;
    }
}


.top-banner-splash-text-underlay {
    color:white;
    padding: 0px;
    padding-left: 10px;
    margin-top: 0px;
    font-family: 'Gotham Book';
    font-size: 16px;
    font-size: 1vw;
    letter-spacing: 30px; 
    letter-spacing: 1.9vw;
    text-align: left; 
}

.menu {
    grid-column-start: 5;
    grid-row-start: 2;
    color: rgb(173, 149, 133);
    font-size: 20px;
    text-align: right;
    z-index: 999 !important;
    place-self: center;
}

.menu-butt {
    background: none; 
    border: none; 
    color: rgb(173, 149, 133); 
    font-size: 18px;
}

.inline-letters {
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 25px;
}
