<section class="top-banner">


    <div class="white-box" [@heroAnimation]="animations ? true : false"></div>
    <div class="logo"><img class="logo-img" src="../../assets/images/logo-white-butt.png"></div>
    <div class="menu"><button class="menu-butt" (click)="onMenuButton()">MENU</button></div>
    <div *ngIf="animations" class="top-banner-splash" [@heroAnimation2]>
        <!--
        <p class="top-banner-splash-text hero-text-anim">DEEANDRA<br>& SAMUEL</p>
        -->
        <p class="top-banner-splash-text hero-text-anim">ALTELUCI</p>
        <!--
        <p class="top-banner-splash-text-underlay hero-text-anim">LOS ANGELES, USA</p>
        -->
        <div class="top-banner-splash-text-underlay">
            <p *ngFor="let letter of underlay" class="hero-text-anim inline-letters">{{letter}}</p>
        </div>
    </div>
</section>
