<section *ngIf="showMenu" [@menuAnimation] [@menuItemAnimation] class="menu-overlay">

    <img class="menu-logo" src="../../assets/images/logo-white-butt.png">
    <p class="alte-text">ALTELUCI</p>
    <div class="divider">
        <hr style="width: 101%; border: 0.5px solid grey; bottom:0; position: absolute;">
    </div>
    
    <div class="menu-back">
        <button class="menu-item menu-back-button" (click)="onBackButton()">[BACK]</button>
    </div>
    <div class="menu-items">
        <div>
        <button class="menu-item menu-item-animate">Home</button>
        </div>
        <div>
        <button class="menu-item menu-item-animate">About</button>
        </div>
        <div>
        <button class="menu-item menu-item-animate">Process</button>
        </div>
        <div>
        <button class="menu-item menu-item-animate sm">Featured</button>
        </div>
        <div>
        <button class="menu-item menu-item-animate lrg">Featured Works</button>
        </div>
        <div>
        <button class="menu-item menu-item-animate">Contact</button>
        </div>   
    </div>
</section>
