.super-eight-sec {
    background-color: rgb(126, 114, 91);
    height: 450px;

    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    grid-template-rows: 1fr 150px;
    transform: translateY(-1px);
}

.block-container {

    grid-column-start: 2;
    grid-column-end: 6;
    min-width: 1050px;
}

.block-content {

    float: right;
    width: 1000px;
}

.super-eight-text-title {
    font-size: 32px;
    font-family: 'Libre Caslon Text', serif;
    opacity: 0.9;
}

.super-eight-text-block {

    display: inline-block;
    padding-top: 0px !important;
    margin-top: 0px !important;
    width: 38%;
    height: 308px;
    margin-right: 4%;

    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.super-eight-vid-block {

    float: right;
    height: 308px;
    width: 550px;
    padding: 0;
    margin:0;

}

.super-eight-vid {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding:0;
    margin: 0;
}

@media screen and (max-width: 1200px) {

    .super-eight-sec {
        height: 700px;
    }

    .super-eight-text-block {
        display: block;
        margin: 0 auto;
        width: 90%;
        height: fit-content;
    }

    .super-eight-vid-block {
        display: block;
        float: none;
        margin: 0 auto;
        margin-top: 50px;
    }

    .block-container {

        min-width: 50px !important;
    }

    .block-content {

        float: none;
        min-width: 50px !important;
        width:fit-content;
    }
    
}

@media screen and (max-width: 1000px) {

    .super-eight-text-block {
        text-align: center;
    }

    .super-eight-text-title {
        align-self: center;
    }
}

@media screen and (max-width: 700px) {

    .super-eight-vid-block {

        height: 170px;
        width: 300px;
    }

    .super-eight-text-title {
        font-size: 20px;
    }

    .super-eight-text-block {
        font-size: 12px;
        margin-top: 50px !important;
    }

    .super-eight-sec {
        height: 450px;
    }
}