<section class="super-eight-sec">
    <div class="block-container">
        <div class="super-eight-text-block" #superText>
            <div *ngIf="showText" @superTextAnim>
                <p class="super-eight-text-title super-text-anim"><u>SUPER 8MM FILM</u></p>
                <p style="opacity: 0.7;" class="super-text-anim">Super 8mm film provides a nostalgic feel that is not replicable on digital cameras. We film either strictly in film or in combination with 
                    digital for a unique feel. Our Super 8mm is actual analog film processed in a dark room. 
                </p>
            </div>
        </div>
        <div class="super-eight-vid-block">
            <object class="super-eight-vid" data="https://player.vimeo.com/video/734840039?h=6387935871&autoplay=1&background=1&loop=1" allow="autoplay"></object>
        </div>
    </div>
</section>