<section class="contact-sec">

    <div class="contact-label">
        <img class="contact-img" src="../../assets/images/smudge.png" width="108px" height="90px">
        <p class="contact-label-text">CONTACT /<br>CONTATTAMI</p>
    </div>

    <form class="contact-form" [formGroup]="formData" (ngSubmit)="onSubmit()">

        <div>
            <input class="form-field" [ngClass]="{ 'form-invalid': submitClicked && f['Name'].errors }" 
            type="text" name="Name" placeholder="NAME & PARTNERS NAME" formControlName="Name">
        </div>

        <div>
            <input class="form-field" [ngClass]="{ 'form-invalid': submitClicked && f['Email'].errors }" 
            type="email" name="Email" placeholder="EMAIL" formControlName="Email">
        </div>

        <div>
            <input class="form-field" [ngClass]="{ 'form-invalid': submitClicked && f['Phone'].errors }"
            type="text" name="Phone" placeholder="PHONE NUMBER (IF YOU WANT)" formControlName="Phone">
        </div>

        <div style="position: relative; width:100%;">
            <input class="form-field" [ngClass]="{ 'form-invalid': submitClicked && f['Date'].errors }"
            matInput [matDatepicker]="picker" placeholder="EVENT DATE" name="Date" formControlName="Date">
            <div class="picker-icon-container">
                <mat-datepicker-toggle [for]="picker">
                    
                    <mat-icon matDatepickerToggleIcon style="height: 20px; width:30px">
                        <img src="../../assets/images/picker-down.png" style="margin: 0 auto; width: 21px; height: 13px; padding-bottom: 5px; padding-right: 5px;">
                    </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
        </div>

        <div>
            <div style="padding-top: 15px;"><label class="who-are-you" for="About">WHO ARE YOU?</label></div>
            <textarea class="form-field-textarea" [ngClass]="{ 'form-invalid': submitClicked && f['About'].errors }"
            type="textarea" name="About" placeholder="{{deets}}" formControlName="About"></textarea>
        </div>

        <div>
            <button class="button-submit" type="submit">SEND</button>
        </div>
        
    </form>
    <div class="footer">
        <hr class="footer-rule">
    </div>
    
    <div class="footer-labels">
        <p class="footer-brand">ALTELUCI</p>
        <div class="footer-right-labels lrg">
            CONTACT
        </div>
        <div class="footer-right-labels lrg">
            THE DETAILS
        </div>
        <div class="footer-right-labels lrg">
            THE PROCESS
        </div>
        <div class="footer-right-labels lrg">
            THE CREATOR
        </div>
        <div class="footer-right-labels sm x-sm">
            CONTACT
        </div>
        <div class="footer-right-labels sm">
            DETAILS
        </div>
        <div class="footer-right-labels sm">
            PROCESS
        </div>
        <div class="footer-right-labels sm x-sm">
            CREATOR
        </div>
    </div>


</section>
