.contact-sec {

    height: 100vh;
    min-height: 900px;

    align-items: start;

    grid-template-rows: 15% 1fr 12%;

    background-color: rgb(250, 249, 245);
}

.contact-label {
    grid-column-start: 3;
    grid-row-start: 2;
}

.contact-img {
    mix-blend-mode: multiply;
    padding-left: 60px;
}

.contact-label-text {
    font-family: 'Libre Caslon Text', serif;
    font-size: 30px;
    color: rgb(134, 110, 94);
}

.contact-form {
    grid-column-start: 4;
    grid-row-start: 2;
    align-self: top;
}

.sm {
  display: none;
}

.lrg {
  display: inline-block;
}


.form-field {
    width: 90%;
    background-color: rgba(0,0,0,0);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid rgb(66, 26, 28);
    padding: 10px;
    margin: 10px;

    font-size: 12px;
    font-family: 'Gotham Book';
    color:rgb(66, 26, 28);
}

.form-field::placeholder {
    color:rgb(66, 26, 28);
    opacity: 0.8;
}

.form-field:focus {
    outline: none;
}

.form-field-textarea {
    width: 90%;
    background-color: rgba(0,0,0,0);
    height: 250px;
    border: 2px solid rgb(66, 26, 28);
    padding: 10px;
    margin: 10px;
    resize: none;

    font-size: 12px;
    font-family: 'Gotham Book';
    color:rgb(66, 26, 28);
}

.form-field-textarea::placeholder {
    color:rgb(66, 26, 28);
    opacity: 0.8;
}

.form-field-textarea:focus {
    outline: none;
}

.who-are-you {
    padding: 15px;
    padding-left: 18px;
    margin-top: 20px;

    font-family: 'Gotham Book';
    font-size: 12px;
    color:rgb(66, 26, 28);
}

.button-submit {

    width: 136px;
    height: 38px; 

    background-color: rgba(0,0,0,0);
    border: 1.5px solid rgb(66, 26, 28);
    border-radius: 25px;;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    font-family: 'Gotham Book';
    font-size: 16px;
    color:rgb(66, 26, 28);
  }

  .button-submit:hover {
    background-color: rgb(252, 239, 222);
  }
  
  .button-submit:active {
    background-color: rgb(212, 163, 102);

  }

  .picker-icon-container {
    position:absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 8px;
    padding-right: 2.2vw;
  }

  .footer {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 6;
    position: relative;
  }

  .footer-rule {
    border: 1.5px solid rgb(66, 26, 28);
  }

  .footer-labels {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 5;

    height: 75px;
  }

  .footer-brand {
    font-size: 30px;
    font-family: 'Libre Caslon Text', serif;
    color: rgb(134, 110, 94);
    float:left;
  }

  .footer-right-labels {
    float:right;

    padding-top: 42px;
    margin-left: 5%;
    text-align: right;
    font-size: 16px;
    font-family: 'Gotham Book';
    color: rgb(134, 110, 94);

  }

  @media screen and (max-width:1000px) {

    .contact-sec {
      grid-template-rows: 5% 1fr 2fr 12%;
      min-height: 1050px;
    }

    .contact-label {
      grid-column-start: 3;
      grid-column-end: 5;
      place-self: center;
    }

    .contact-form {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 3;
      padding-bottom: 40px;
    }

    .footer {
      grid-row-start: 4;
    }

    .footer-labels {
      grid-row-start: 4;

    }

    .footer-right-labels {
      font-size: 12px;
      margin-left: 3%;
    }

    .footer-brand {
      margin:0;
      padding-top: 25px;
    }

  }

  @media screen and (max-width:800px) {

    .sm {
      display: inline-block;
    }
    .lrg {
      display: none;
    }
    
  }

  @media screen and (max-width:700px) {

    .contact-sec {
      grid-template-rows: 5% 1fr 4fr 8%;
      min-height: 950px;
    }

    .contact-form {
      grid-column-start: 2;
      grid-column-end: 6;
      transform: translateX(-5px);
      align-self: center;
    }

    .contact-img {
      display: none;
    }

    .footer-labels {
      grid-column-start: 2;
      grid-column-end:6;
    }

    .contact-label-text {
      font-size: 25px;
    }

    .footer-brand {
      padding-top: 30px;
      font-size: 25px;
    }

    .x-sm {
      display: none;
    }
    
  }

