<section class="featured-sec">

    <img class="featured-cursive" src="../../assets/images/featured-cursive.png">

    <div class="featured-splash-text">
        FEATURED<br>
        WORKS /<br>
        OPERE D'ARTE<br>
        <img class="arrow" src="../../assets/images/arrow-down.png">
    </div>

    <div class="featured-videos">

        <div class="featured-video-container">
            <app-video-wrapper link="https://player.vimeo.com/video/734840039?h=6387935871&autoplay=1" image="../../assets/images/vid-still-carmel.png"></app-video-wrapper>
            <p class="featured-videos-text">CARMEL VALLEY, CALIFORNIA, USA</p>
        </div>

        <div class="featured-video-container">
            <app-video-wrapper link="https://player.vimeo.com/video/449583234?h=282310f01a&autoplay=1" image="../../assets/images/vid-still-puglia.png"></app-video-wrapper>
            <p class="featured-videos-text">BRINDISI, APUGLIA, ITALY</p>
        </div>
    
        <div class="featured-video-container">
            <app-video-wrapper link="https://player.vimeo.com/video/255681902?h=73b2f72841&autoplay=1" image="../../assets/images/vid-still-warwick.png"></app-video-wrapper>
            <p class="featured-videos-text">WARWICK, NEW YORK, USA</p>
        </div>

        <div class="featured-video-container">
            <app-video-wrapper link="https://player.vimeo.com/video/443916730?h=c75627ed40&autoplay=1" image="../../assets/images/vid-still-queens.png" [darkPlayButton]="true"></app-video-wrapper>
            <p class="featured-videos-text">QUEENS, NEW YORK, USA</p>
        </div>

    </div>

</section>