.featured-sec {
    
    background-image: url(../../assets/images/featured-texture.png);
    background-size: cover; 
    background-repeat: no-repeat;

    height: 1700px;
    overflow-x: hidden;
    overflow: visible;
    position: relative;
    align-items: start;
    grid-template-rows: repeat(autofit, minmax(240px, 1fr));

}

.featured-cursive {
    position: absolute;
    bottom:0;
    mix-blend-mode: multiply;
    transform: translateX(-50px) translateY(50px);
}

.arrow {
    padding-left: 50px;
    padding-top: 50px;
}

.featured-splash-text {
    font-size:48px; 
    font-family: 'Libre Calson Text', serif;
    color: rgb(134, 110, 94);

    grid-column-start: 3;
    padding-top: 100px;

}

.featured-videos {
    padding-top: 100px;
    padding-left: 20px;
    grid-column-start: 4;
    grid-column-end: 5;
}

.featured-videos-text {
    font-family: 'Gotham Book';
    color: rgb(134, 110, 94);
    padding-left: 20px;
}

.featured-video-container {
    padding-bottom: 20px;
    width: fit-content;
}

@media screen and (max-width: 1160px) {

    .featured-videos-text {
        text-align: right;
        padding-right: 20px;
    }
    
}

@media screen and (max-width: 1060px) {
    .featured-splash-text {
        font-size: 40px;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        height: fit-content;
        padding:0;
        margin:0;
        width: 100%;
        padding-bottom:0px;
        text-align: center;
    }
    .featured-videos {
        padding-top: 0px;
        padding-left: 0;
        grid-column-start: 3;
        grid-row-start: 4;
    }
    .featured-video-container {
        width:fit-content;
        margin: 0 auto;
    }
    .featured-videos-text {
        text-align: center;
    }
    .arrow {
        display: none;
    }
    .featured-sec {
        /*grid-template-columns: 1fr;*/
        grid-template-rows: 50px 1fr 50px 10fr 20px;
    }
    .featured-cursive {
        opacity: 0.25;
    }
}

@media screen and (max-width: 700px) {

        .featured-sec {
            height: 1000px;
        }

        .featured-cursive {
            transform: translateX(-300px) translateY(100px);
        }

        .featured-splash-text {
            font-size: 28px;
        }
        .featured-videos {
            grid-column-start: 2;
            grid-column-end: 6;
        }

        .featured-videos-text {
            font-size: 12px;
            padding-top:20px;
            margin-top: 0px;
        }
        .featured-sec {
            height: 1200px;
            grid-template-rows: 3% 1fr 3% 12fr 20px;
        }

    
}
